* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Candara;
    /* font-family: Comic Sans MS; */

}

#body {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    /* padding-top: 30px; */
    /* border: 2px solid red; */
    overflow-x: hidden;

}

/*==================== Layout Component =======================  */
/* ================ Navbar section ======================================= */
.navbar {
    text-align: center;
    width: 100%;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    position: sticky;
    z-index: 100;
}

#navleft {
    width: 135px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* border: 2px solid red; */
}

#navmiddle {
    width: 570px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid rgb(15, 60, 243); */
}

#navright {
    width: 150px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    /* border: 2px solid red; */
}

.nabbtn1 {
    /* margin-right: 20px; */
    text-decoration: none;
    font-size: 28px;
    color: black;
    /* font-family:French Script MT; */
    font-family: Rage;
    /* font-style: italic; */
    /* font-family: Harlow Solid; */
    letter-spacing: 3px;
    font-weight: bolder;
    /* border: 2px solid red; */
}

.nabbtn2,
.nabbtn3,
.nabbtn4,
.nabbtn5,
.nabbtn6,
.nabbtn7 {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    /* margin-left: 25px; */
    padding: 5px;
    color: rgb(110, 99, 99);
    font-family: Segoe Print;
    font-family: sans-serif;
    /* font-family: Calibri; */
    /* border: 2px solid red; */
}

.nabbtn2:hover,
.nabbtn3:hover,
.nabbtn4:hover,
.nabbtn5:hover,
.nabbtn6:hover,
.nabbtn7:hover {
    color: rgb(211, 20, 20);
    text-decoration: underline;
}

.Rnavbtn1 {
    font-size: 20px;
    color: rgb(36, 36, 188);
    /* position: relative; */
}

.heartbtn1 {
    font-size: 20px;
    color: rgb(247, 30, 88);
}

#addlikewrapper {
    width: 30px;
    height: 40px;
    /* border:1px solid red; */
    position: relative;
    top: 5px
}

#liked_p {
    width: 15px;
    height: 15px;
    background-color: rgb(243, 242, 242);
    position: absolute;
    top: -5px;
    right: 18%;
    font-size: 16px;
    font-weight: 500;
    color: rgb(117, 107, 107);
    border-radius: 50%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}


#sear-box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(85, 85, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 12px rgb(147, 144, 144);
}

#sear-box:hover {
    background-color: rgb(203, 235, 248);
    color: rgb(108, 109, 109);
    font-weight: bolder;
    box-shadow: 2px 3px 25px rgb(138, 180, 238);
}

#addcartwrapper {
    width: 30px;
    height: 35px;
    position: relative;
    /* border: 1px solid rgb(133, 126, 126); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#showcartno {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    /* border: 1px solid rgb(133, 126, 126); */
    position: absolute;
    right: 0px;
    top: -5px;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
    background-color: rgb(244, 244, 244);
    color: rgb(152, 134, 130);
    z-index: 2;
}


/* .nabbtn2:visited,.nabbtn3:visited,.nabbtn4:visited,.nabbtn5:visited,.nabbtn6:visited,.nabbtn7:visited{
    color:green;
} */
/* ============================= Dropdown manu section ================== */
#dropdown {
    width: 200px;
    height: 130px;
    list-style: none;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    left: 48%;
    z-index: 400;
    padding-top: 15px;
    padding-left: 25px;
    /* border: 1px solid black; */
    display: none;
    background-color: rgb(246, 242, 242);
}

#dropdown li {
    margin-bottom: 15px;
}

/* ================================ Media quiry ======================== */

#shownavmiddle {
    width: 100%;
    margin: 0%;
    /* border: 1px solid black; */
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    top: 55px;
    left: 0;
    background-color: whitesmoke;
    display: none;
}

#linemanu {
    display: none;
    position: relative;
}

/* =================== footer section ============ */
.footerbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    background-color: rgb(61, 60, 60);
    /* font-family: rape; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.linkbox {
    width: 220px;
    list-style: none;
}

.foottitle {
    font-size: 20px;
    font-weight: 500;
    color: rgb(196, 196, 212);
    letter-spacing: 1px;
    font-family: Comic Sans MS;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-decoration: underline;
}

.footlink2 {
    font-size: 14px;
    color: white;
    letter-spacing: 1.4px;
    text-decoration: none;
    font-family: Calibri;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.developer {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgb(61, 60, 60);
    color: white;
    font-family: Rage;
    font-size: 20px;
    letter-spacing: 3px;
}

.shopname {
    width: 100%;
    padding-top: 25px;
    font-size: 25px;
    color: rgb(207, 207, 41);
    font-family: Rage;
    letter-spacing: 2px;
    /* font-family: Harlow Solid; */
    letter-spacing: 2px;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(61, 60, 60);
    /* border: 1px solid rgb(127, 123, 123); */
}

/* ====================== Home Componenet ================ */

.sliderbox {
    padding-top: 0px;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    /* border: 2px solid rgb(98, 255, 0); */
    position: relative;
    /* top: px; */
}

#leftarrow {
    z-index: 4;
    font-size: 35px;
    background-color: rgba(242, 232, 232, 0.3);
    padding: 5px;
    border-radius: 50%;
    color: rgb(171, 169, 169);
    cursor: pointer;
    position: absolute;
    top: 50vh;
    left: 50px
}

#leftarrow:hover {
    background-color: rgb(57, 54, 54);
    color: white;
}

#rightarrow {
    z-index: 4;
    font-size: 35px;
    background-color: rgba(242, 232, 232, 0.3);
    padding: 5px;
    border-radius: 50%;
    color: rgb(171, 169, 169);
    position: absolute;
    top: 50vh;
    right: 50px;
    cursor: pointer;
}

#rightarrow:hover {
    background-color: rgb(57, 54, 54);
    color: white;
}

.sliderbox::-webkit-scrollbar {
    display: none;
}

#sliderimgcarousel {
    width: 100%;
    /* height: 470px; */
}

#babycarousel {
    width: 100%;
    height: 400px;
}

/* #sliderimgcarousel {
    width: 100%;
    height: 450px;
} */

/* .slider {
    width: 400%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: carousel 8s ease-in-out infinite;
    border: 2px solid red;
}
*/
/*
@keyframes carousel {
    0% {
        left: 0;
        top: 0px;
    }

    33% {
        left: -100%;
        top: 0px;
    }

    66% {
        left: -200%;
        top: 0px;
    }

    100% {
        left: -300%;
        top: 0px;
    }
} */

/* .slide1 {
    width: 25%;
    height: 80vh;
} */

.dot_box {
    width: 400px;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
    left: 45%;
    top: -50px
}

.dot {
    width: 15px;
    margin-left: 10px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1.7px solid black;
}

.dot:hover {
    background-color: rgb(162, 255, 22);
}

/* ==================== catagory component page ===================== */
#cattype_link_box {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}

#cattype_link_box::-webkit-scrollbar {
    display: none;
}

.catcomp_box {
    width: 140px;
    height: 50px;
    /* border: 1px solid black; */
    text-align: center;
    cursor: pointer;
}

.catcomp_box img {
    box-shadow: 2px 2px 15px rgb(199, 195, 195);
    width: 40px;
    height: 40px;
    object-fit: fill;
    /* border: 1px solid black;   */
    border-radius: 50%;
}

/* ======== landing Product =============== */
.landing {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    background-color: rgb(251, 251, 251);
    border-bottom: none;
}

/* .imageproduct{
    object-fit: fill;
} */

.cont_box {
    width: 320px;
    height: 480px;
    /* border: 2px solid rgb(243, 239, 239); */
    background-color: rgba(237, 237, 236, 0.9);
    box-shadow: 3px 3px 15px rgb(150, 151, 149);
    border-radius: 15px;
    margin: 50px 15px;
    overflow: hidden;

}

.cont_box:hover {
    scale: 1.02;
    transform: rotateY(20deg);
}

.img {
    width: 320px;
    height: 290px;
    object-fit: fill;
    /* text-align: center; */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    overflow: hidden;
    position: relative;
}

.likeheart {
    color: #e0e9d4;
    font-size: 38px;
    padding: 5px;
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1000;

}

.img img {
    width: 316px;
    height: 290px;
    border-radius: 15px;
    /* object-fit: fill; */
    /* transition: 1s; */
    /* z-index: -1; */
}

.img img:hover {
    /* scale: 1.06; */
    border-radius: 20px;
    transform: rotateY(180deg);
}

.prod_name {
    width: 100%;
    height: 70px;
    font-size: 16px;
    padding: 0px 15px;
    /* border: 1px solid rgb(220, 181, 181); */
    overflow: hidden;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#prod_rate_wrapper {
    width: 100%;
    height: 40px;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid rgb(220, 181, 181); */
    margin-bottom: 10px;
    padding-left: 25px;
}

.detail {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    font-size: 16px;
    font-weight: 800;
    margin-left: 10px;
}

#Mrp_price {
    text-decoration: line-through;
    /* color: aqua; */
}

.cartbtn,
.buybtn {
    padding: 3px 10px;
    background-color: rgb(3, 3, 24);
    border-radius: 10px;
    color: white;
    margin-left: 18px;
    cursor: pointer;
}

.buybtn {
    margin-left: 120px;
}

.heading {
    background-color: rgb(223, 215, 215);
    text-align: center;

}

/* ================================ addcart component ======================== */

.bbty {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* padding-top: 20px; */
    /* padding-bottom: 30px; */
    padding: 20px 15px 30px 15px;
}

#addcarttable {
    width: 70%;
    height: auto;
    border: 2px solid rgb(187, 183, 183);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    background-color: rgb(245, 241, 241);
    box-shadow: 2px 2px 8px rgb(230, 221, 221);
}

#addcartwrapper_box {
    width: 70%;
    /* display: block; */
    padding: 10px 15px;
    padding-right: 15px;

}

#tdimage {
    width: 200px;
    height: auto;
    border-right: 1px solid black;
}

#tdimage img {
    width: 200px;
    object-fit: cover;
    /* height: a; */
}

#addcartwrapper_box div,
#addcartwrapper_box p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tdQuantity {
    display: flex;
    width: 140px;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
}

#adding {
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */

}

#adding #button {
    font-size: 25px;
}

#oneproduct_price {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}

#tddelete {
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 30px;
}

#orderdetail_data {
    width: 300px;
    height: 300px;
    padding: 10px 10px;
    border: 1px solid black;
    background-color: rgb(245, 241, 241);
    box-shadow: 2px 2px 8px rgb(230, 221, 221);
    /* text-align: center; */
}

#orderdetail_data h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#order_button_wrapper {
    width: 240px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order_button {
    width: 200px;
    height: 35px;
    border: 1px solid blue;
    background-color: blue;
    font-weight: 500;
    margin-left: auto;
    color: white;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 20px;
}

/* ================= Ordered form component ==================== */
#ordform {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 148, 148);


}

#form {
    width: 435px;
    height: auto;
    margin-top: 15px;
    background-color: rgb(195, 191, 187);
    /* padding-left: 60px; */
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
    color: rgb(254, 253, 253);
    box-shadow: 10px 10px 70px rgb(255, 255, 255);
    margin-top: 35px;
    margin-bottom: 35px;

}

#form h1 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-weight: 600;
}

#form h3 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#form div {
    margin-left: 50px;
    text-align: justify;
}

#form div input {
    width: 350px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-radius: 10px;
    border: 2px solid rgb(251, 253, 251);
    background-color: rgb(242, 241, 241);
}

#form div #state {
    width: 150px;
}

#form div #pincode {
    width: 150px;
    margin-left: 40px;
}

#form div label {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    /* color: rgba(105, 243, 63, 0.994); */
    color: rgb(250, 250, 250);
    text-align: justify;
}

#form div #pin {
    margin-left: 150px;
}

#form div #submitbtn {
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid rgb(138, 134, 134);
    padding-left: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    background-color: rgb(239, 236, 236);
    box-shadow: 4px 4px 30px rgb(235, 248, 235);
}

/* ========================= Payment Page ========================= */

#Payment_maindiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background-color: rgb(150, 148, 148);
    padding-top: 30px;
    padding-bottom: 70px;
}

#paymentopt1 {
    width: 580px;
    height: auto;
    /* border: 1px solid rgb(44, 42, 40); */
    background-color: rgb(195, 191, 187);
    margin-top: 20px;
    text-align: center;
    box-shadow: 10px 10px 60px white;
    color: rgb(12, 244, 12);
    padding-bottom: 40px;
}

#paymentopt1 h1 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 22px;
    margin-top: 20px;
    font-size: 28px;
    color: rgb(250, 251, 250);
}

#paymentopt1 input {
    cursor: pointer;
    margin: auto;
}

/* ================= Payment_card page =============== */
#bycardpayment {
    background-color: rgb(195, 191, 187);
    /* width: */
}

#cardpaymeth {
    margin-bottom: 30px;
}

#cardpaymeth img {
    width: 150px;
}

#phonepebtn img {
    width: 450px;
    height: 200px;
}

#cardno {
    padding-left: 15px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

#card_cvv {
    width: 60px;
    border-radius: 8px;
    height: 30px;
    padding-left: 15px;

}

#card_hold_name {
    width: 210px;
    height: 30px;
    border-radius: 10px;
    padding-left: 15px;
}

#ex_month {
    width: 45px;
    height: 30px;
    border-radius: 8px;
    padding-left: 7px;
    font-weight: 400;
}

#ex_year {
    width: 60px;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px;
}

#payment_form {
    text-align: left;
    padding-left: 100px;
    color: rgb(41, 251, 41);
}

#payment_form label {
    font-size: 18px;
    color: rgb(41, 251, 41);
}

#button_design {
    width: 126px;
    height: 36px;
    border-radius: 15px;
    border: 4px solid rgb(60, 64, 58);
    background-color: rgb(223, 216, 206);
    cursor: pointer;
    position: relative;
}

#button_design::after {
    content: "";
    width: 130px;
    height: 40px;
    border-radius: 17px;
    border: 2px solid rgb(67, 247, 6);
    position: absolute;
    box-sizing: border-box;
    box-shadow: 5px 5px 50px rgb(72, 255, 72);
    top: -5px;
    left: -5px;
}

#button_design:hover {
    background-color: rgb(226, 255, 214);
    color: rgb(61, 125, 61);
    font-weight: bold;
}

/* =========================== Payment done component ============================== */
#paydonehona {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

#payment_procesing {
    width: 100%;
    height: 60vh;
    background-color: rgb(218, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

#payment_procesing span {
    font-size: 16px;
}

#paymentdone_bill {
    width: 550px;
    height: auto;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(142, 138, 138);
    /* border-radius: 20px; */
    border: 1px solid black;
    padding: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: rgb(37, 39, 37);
    text-align: center;
}

#paymentdone_bill h1,
#paymentdone_bill h2 {
    font-family: Microsoft Sans Serif;
    /* text-align: center; */
    margin-bottom: 20px;
}

#Amount_orderno {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12%;
    padding-left: 2%;

}

#orderno,
#paidamount {
    text-align: left;
    margin-top: 10px;
}

#orderno h4,
#paidamount h4 {
    margin-top: 5px;
    font-size: 16px;
    font-family: Microsoft YaHei UI;
}

#orderaddress {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


#customer {
    width: 450px;
    height: auto;
    padding: 20px;
    /* border: 1px solid wheat; */
}

#customer #spanhead {
    width: 400px;
    text-align: left;
    /* border: 1px solid wheat; */
}

#delivery_by {
    width: 470px;
    height: auto;
    padding: 20px;
    /* border: 1px solid wheat; */
}

/* ==================== Orderedby component ========================= */
#order_by {
    text-align: left;
}

#order_by span {
    margin-top: 8px;
}

/* ===================================== CreateAccount component =========================== */
.body {
    width: 100%px;
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 206, 206);
}

#Acc_mainbox {
    width: 650px;
    height: 450px;
    /* border: 1px solid blue; */
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 50px rgb(48, 48, 229);
}

#Acc_imagebox {
    width: 300px;
    height: 450px;
    border: 2px solid blue;
    background-color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#Acc_imagebox img {
    width: 300px;
    height: 445px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#Acc_createbox {
    width: 350px;
    height: 450px;
    border: 2px solid rgb(24, 24, 241);
    background-color: rgb(123, 123, 155);
    text-align: center;
    padding-top: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#Acc_createbox h2,
#Acc_createbox h3 {
    margin-bottom: 20px;
    color: white;
    letter-spacing: 1.5px;
    text-shadow: 5px 5px 10px rgb(210, 58, 34);
}

#Rone,
#Rtwo,
#Rthree,
#Rthre {
    width: 300px;
    height: 32px;
    border: 1px solid rgb(79, 77, 77);
    margin: auto;
    padding-left: 5px;
    border-radius: 15px;
    /* margin-bottom: 5px; */
    background-color: white;
    box-shadow: 1px 1px 3px rgb(245, 245, 245);
    position: relative;
}

#Rone input,
#Rtwo input,
#Rthree input,
#Rthre input {
    width: 260px;
    height: 30px;
    padding-left: 15px;
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#Ronecorect,
#Rtwocorect,
#Rthreecorect,
#Rthrecorect {
    position: absolute;
    top: 7px;
    right: 8px;
    color: rgb(14, 191, 14);
    display: none;
}

#Roneerror,
#Rtwoerror,
#Rthreeerror,
#Rthreerror {
    position: absolute;
    top: 7px;
    right: 8px;
    color: red;
    display: none;
}

#errormsgbox {
    width: 300px;
    height: 30px;
    padding: 3px;
    text-align: left;
}

#Roneerrormsg,
#Rtwoerrormsg,
#Rthreeerrormsg,
#Rthreerrormsg1,
#Rthreerrormsg2 {
    display: none;
    color: rgb(255, 68, 68);
    font-size: 12px;
    margin-left: 20px;
}


#login_rem_box {
    width: 300px;
    height: 50px;
    text-align: left;
    margin-left: 20px;
}

#login_rem_box label,
#login_rem_box input {
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

#login_rem_box button {
    padding: 8px 5px;
    background-color: transparent;
    border: none;
    color: rgb(11, 11, 75);
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    margin-left: 20%;
    cursor: pointer;
}

#signupbtn {
    padding: 6px 15px;
    border-radius: 15px;
    color: rgb(139, 30, 30);
    font-weight: 700;
    background-color: rgb(252, 237, 237);
    cursor: pointer;
    box-shadow: 2px 2px 15px rgb(6, 6, 235);
}

#signupbtn:hover {
    border: 2px solid gradeint-linear(0, 0, 0 golden);
}

/* ==================== login page =========================== */
.userloginform_icon {
    font-size: 80px;
}

/* ============================================= women page component ========================== */
#womenpageherovideo {
    width: 100%;
    height: 95vh;

}


/* ========================= men page component ================================= */
/* #shoesgif_box {
    width: 60%;
    height: 350px;
    margin: 50px 20%;
    box-shadow: 5px 5px 30px rgb(143, 132, 132);
}

.shoesgif {
    width: 100%;
    height: 350px;
} */

/* ========================= Search page Component =========================== */
#search_box_wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_inputbox {
    width: 400px;
    height: 38px;
    border: 1px solid black;
    padding: 0;
    /* margin-top: ; */
    border-radius: 18px;
}

#search_inputbox input {
    width: 93%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 18px;
    padding-left: 15px;
    background-color: white;
}

#show_serachproduct_quantity {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

#searchoutputbox {
    width: 100%;
    min-height: 400px;
    max-height: auto;
}

#search_inputbox #searchbtn {
    font-size: 20px;
    cursor: pointer;
}

/* ============================ LiKE page component ===============  */

#likepage {
    width: 100%;
    min-height: 500px;
    max-height: auto;
}

/*=================== Phone pay page ============================= */

#phonepayQr {
    margin: 25px;
}

#Cashon_delivery_payment img {
    width: 200px;
    height: 200px;
}

#upiidinputbox {
    width: 350px;
    height: 30px;
    border-radius: 15px;
    padding-left: 15px;
}


/* =========================== Jsondatabase form ===================== */
#formbox input {
    width: 400px;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
}

#formbox {
    background-color: rgb(192, 178, 178);
    padding: 30px 40px;
}

#formbox button {
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

#Footerlink {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==================== About Us =============================== */
.About_us-page {
    padding-bottom: 50px;
    padding-top: 30px;
    /* background-color: white; */

}

#aboutdiv1 {
    width: 80%;
    margin-left: 10%;
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    box-shadow: 2px 2px 20px white;
    border: 3px solid rgb(236, 234, 234);
    background-color: white;
}

#aboutdiv1 #one {
    min-width: 450px;
    height: 600px;
    border-bottom-left-radius: 80px;
}

#aboutdiv1 #one img {
    min-width: 450px;
    /* max-width: 40%; */
    height: 600px;
    border-bottom-left-radius: 80px;
}

#aboutdiv1 #two {
    width: 60%;
    text-align: center;
    font-weight: 500;
    border-radius: 15px;
    padding-bottom: 20px;
    color: rgb(57, 55, 55);
}

#aboutdiv1 #two label {
    font-size: 35px;
    letter-spacing: 3px;
    text-decoration: underline;
    font-family: Forte;
}

#aboutdiv1 #two #content {
    font-size: 22px;
    padding: 8px;
    font-family: Gabriola;
    letter-spacing: 1px;
}

#aboutbtn {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    font-size: 22px;
    text-align: center;
}

#aboutdiv2 {
    width: 80%;
    margin-left: 10%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0px;
    /* background-color: black; */
}

#aboutdiv2 #story {
    width: 510px;
    height: auto;
    border: 1px solid rgb(246, 242, 242);
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: rgb(143, 137, 137);
    color: rgb(18, 16, 16);
    box-shadow: 2px 2px 20px white;
    background-color: white;
    padding: 10px;

}

#aboutdiv2 #story label {
    font-size: 35px;
    letter-spacing: 3px;
    text-decoration: underline;
    font-family: Forte;
}

#aboutdiv2 #story #content {
    font-size: 20px;
    padding: 15px;
    font-family: Gabriola;
    letter-spacing: 1px;

}

/* ==================================== */
#aboutdiv2 #mission {
    width: 500px;
    height: auto;
    border: 1px solid rgb(246, 242, 242);
    text-align: center;
    font-weight: 500;
    border-radius: 15px;
    color: rgb(28, 26, 26);
    box-shadow: 2px 2px 20px white;
    background-color: rgb(143, 137, 137);
    padding: 10px;
    background-color: white;

}

#aboutdiv2 #mission label {
    font-size: 35px;
    letter-spacing: 3px;
    text-decoration: underline;
    font-family: Forte;
}

#aboutdiv2 #mission #content {
    font-size: 20px;
    padding: 15px;
    font-family: Gabriola;
    letter-spacing: 1px;
}

#aboutaparts {
    color: rgb(47, 42, 42);
    width: 100%;
    font-size: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

#aboutdiv3 {
    width: 80%;
    margin-left: 10%;
    height: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    border: 1px solid rgb(246, 242, 242);
    box-shadow: 2px 2px 20px white;
    border-radius: 30px;
    background-color: white;
}

#aboutdiv3 #one,
#aboutdiv3 #two {
    width: 500px;
    height: auto;
    text-align: center;
    font-weight: 500;
    border-radius: 15px;
    padding: 20px;
    color: rgb(21, 19, 19);
    font-size: 22px;
    font-family: Gabriola;

    letter-spacing: 1px;
}

#aboutdiv3 #one h2,
#aboutdiv3 #two h2 {
    font-size: 28px;
    color: rgb(19, 19, 19);
    text-decoration: underline;
}

#aboutdiv4,
#aboutdiv5,
#aboutdiv6 {
    width: 80%;
    height: auto;
    margin-left: 10%;
    border: 1px solid rgb(246, 242, 242);
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    background-color: rgb(143, 137, 137);
    border-radius: 15px;
    padding: 10px;
    color: rgb(22, 22, 22);
    font-family: Gabriola;
    font-size: 22px;
    letter-spacing: 1px;
    background-color: white;

}

#aboutdiv4 #one,
#aboutdiv5 #one,
#aboutdiv6 #one,
#aboutdiv6 label {
    font-family: Gabriola;
}

#aboutdiv4 aside,
#aboutdiv5 aside {
    float: left;
    margin-right: 30px;
}

#aboutdiv4 aside img,
#aboutdiv5 aside img {
    width: 200px;
    height: 200px;

}

#aboutdiv6 #one {
    border-bottom: 1px solid white;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#aboutsocial_icon {
    font-size: 30px;
}


/* ======================= contact page =========================== */
#form_div {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-bottom: 50px;

}

#contact_top {
    width: 100%;
    min-height: 250px;
    max-height: auto;
    border-bottom: 1px solid rgb(240, 235, 235);
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(237, 234, 234);
    align-items: center;
}

#contact_top #one {
    width: 65%;
    height: 250px;
    padding: 40px;

}

#contact_top #two {
    width: 35%;
    height: 250px;
    background-image: url('https://img.freepik.com/free-photo/portrait-woman-customer-service-worker_144627-37943.jpg?w=740&t=st=1710319715~exp=1710320315~hmac=4850231276c1d004d22c41ddde26e52ada799493528c0aefe5da56f4180024f2');
    background-size: 100% 100%;
    object-fit: fill;
    border-bottom-left-radius: 60%;
}

#contact_top h1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}

#contact_top h5 {
    text-align: left;
}

#contactpage_body {
    width: 100%;
    height: auto;
}

#contactpage_body aside {
    min-width: 38%;
    max-width: 50%;
    height: auto;
    float: right;
    margin: 5px;
}

#contactpage_body aside #gmap {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    /* border: 1px solid rgb(219, 208, 208); */
}

#contactpage_body aside #gmap iframe {
    height: auto;
    width: auto;
    /*IE8 bug fix*/
    vertical-align: middle;
    width: 100%;
    min-height: 250px;
    max-height: 400px;
}

#contact_form {
    border: 1px solid rgb(227, 226, 226);
    /* background-color: rgb(223, 214, 214); */
    border-radius: 20px;
    border-top: none;
    width: 40%;
    height: auto;
    margin-left: 10%;
    text-align: center;
    padding: 20px;
}

#contact_form input {
    width: 70%;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
}

#contact_form textarea {
    width: 70%;
    /* height: 40px; */
    padding-left: 15px;
    border-radius: 10px;
}

#contact_form #contact_button {
    padding: 5px 10px;
    border-radius: 15px;
}

/* ================================ catagory page ======================== */
#catpage_product_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* ====================== Likepage ==================== */
#like_page_product_wrapper {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    border: 1px solid rgb(197, 192, 192);
    margin-bottom: 10px;
    background-color: rgb(237, 237, 237);
}

#like_page_product_image {
    width: 200px;
    min-height: 200px;
    /* max-height: 250px; */
}

#like_page_product_image img {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(109, 105, 105);
}

#like_page_product_details {
    text-align: center;
    width: 30%;
    height: auto;
    padding: 15px;
    border-right: 1px solid rgb(203, 196, 196);
}

#like_page_product_description {
    width: 50%;
    height: 200px;
    padding: 8px;
    text-align: center;
    border-right: 1px solid rgb(203, 196, 196);
    position: relative;

}

#like_page_product_deletebtn {
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    top: -8px;
    right: 8px;
    /* text-align: right; */
}

/* ========================== Prodect details page ============================== */
#product_detail_mainwrapper {
    width: 100%;
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgb(238, 40, 40); */
    flex-wrap: wrap;
    margin-top: 30px;
}

/* ========= part-1 =============== */
#product_detail_imagepack {
    width: 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 5px solid rgb(23, 237, 58); */
}

#product_detail_imagepack img {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
    object-fit: fill;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);

}

/* ============= part-2 ============= */
#product_detail_show_box {
    width: 430px;
    height: auto;
    display: block;
    /* border: 1px solid black; */
    position: relative;

}

#product_detail_show_box #show_image_box {
    width: 434px;
    border: 2px solid rgb(184, 183, 183);
    margin-bottom: 35px;
    object-fit: fill;
    display: flex;
    justify-content: center;
}

#product_detail_show_box #show_image_box img {
    width: 430px;
    padding: 1px;
}

.detailpage_likeheart {
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 40px;
    color: rgb(165, 161, 161);
}

#add_buy_btnwrapper {
    width: 450px;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#prod_detai_addtocard {
    width: 170px;
    height: 40px;
}

#prod_detai_buy {
    width: 170px;
    height: 40px;
}

#prod_detai_addtocard button,
#prod_detai_buy button {
    width: 150px;
    height: 35px;
    background-color: rgb(3, 3, 24);
    border-radius: 10px;
    color: white;
    margin-left: 18px;
    cursor: pointer;
    margin-bottom: 40px;
}

/* =========== part -3 ================= */
#product_inform_wrapper {
    width: 510px;
    height: auto;
    /* border: 1px solid black; */

}

#product_inform_wrapper #one {
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: left;
    font-size: 16px;
    border: 1px solid rgb(208, 205, 205);
    margin-bottom: 10px;

}

#product_inform_wrapper #two {
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: left;
    margin-bottom: 10px;
    border: 1px solid rgb(208, 205, 205);
}

#product_inform_wrapper #two .clothsize {
    margin-left: 15px;
    padding: 3px 15px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#product_inform_wrapper #three {
    width: 100%;
    height: auto;
    padding: 25px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px solid rgb(208, 205, 205);
}

#product_inform_wrapper #four {
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: left;
    margin-bottom: 10px;
    border: 1px solid rgb(208, 205, 205);
}

#seller_shop_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#seller_shop_rating {
    width: 140px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

#seller_shop_wrapper #Product_type,
#seller_shop_wrapper #Follower {
    width: 80px;
    height: 100px;
}

#seller_shop_rating #one1 {
    width: 100px;
    height: 35px;
    text-align: center;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(106, 106, 227);
    border: 1px solid rgb(222, 217, 217);
}

#seller_shop_wrapper #Follower span,
#seller_shop_wrapper #Product_type span {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

#product_inform_wrapper #five {
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: left;
    margin-bottom: 10px;
    border: 1px solid rgb(208, 205, 205);
}

#product_inform_wrapper #six {
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: left;
    margin-bottom: 10px;
    border: 1px solid rgb(208, 205, 205);
}

#product_inform_wrapper #six #colorbox_wrapper {
    width: 370px;
    height: auto;
    padding: 25px;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(130, 122, 122); */
}

#product_inform_wrapper #six #colorbox_wrapper #color1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid rgb(138, 134, 134);
}